html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.webgis-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background: #f9f9f9;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
}

/* Map dan sidebar */
.map-container {
  flex: 1;
  width: 70%;
  height: 100%;
  min-width: 0;
}

.chart-wrapper {
  width: 100%;
  max-width: 92%;
  height: auto;
  aspect-ratio: 1 / 1;
  background: #f9f9f9;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.sidebar-container {
  transition: width 0.3s;
  background: #ffffff;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidebar-container.open {
  width: 35%;
  min-width: 300px;
  padding: 20px;
}

.gov-access-box {
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
}

.leaflet-interactive:focus {
  outline: none !important;
  box-shadow: none !important;
}

.radar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  width: 100%;
  height: 100%;
}

.radar-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}

.radar-button,
.radar-close-button {
  background-color: #4e944f;
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: -35px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(46, 125, 50, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.radar-button:hover {
  background-color: #4e944f;
  box-shadow: 0 6px 16px rgba(27, 94, 32, 0.4);
  transform: translateY(-1px);
}

.radar-close-button {
  width: 100%;
  background-color: #4e944f;
  color: white;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  box-shadow: none;
  transition: none;
}

.radar-chart-wrapper {
  width: 100%;
  max-width: 460px;
  height: 460px;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  bottom: 25px;
}

.radar-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.radar-modal {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 440px;
  max-height: 85vh;
  overflow-y: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.radar-modal-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
}

.modal-note {
  background: linear-gradient(to right, #e6f4ea, #f0fdf4);
  border-left: 4px solid #34a853;
  font-size: 0.85rem;
  color: #2e7d32;
  font-style: normal;
  text-align: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem auto 1rem auto;
  max-width: 360px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
}

.modal-title-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}

.radar-status-list {
  padding-left: 1.25rem;
  list-style-type: disc;
}

.radar-status-item {
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.4;
}

.status-over {
  color: #000000;
  font-weight: 600;
}

.status-ok {
  color: #000000;
  font-weight: 600;
}

.radar-modal-footer {
  text-align: center;
  margin-top: 2rem;
}

.parameter-label {
  color: rgba(34, 139, 34, 1);
}

.status-button {
  background-color: #228b22;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 16px 0;
  transition: background-color 0.3s ease;
}

.status-button:hover {
  background-color: #1c751c;
}

.bar-chart-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-chart-legend {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.bar-chart-legend-item {
  display: flex;
  align-items: center;
}

.bar-chart-color-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 2px;
}

.bar-chart-tooltip-simple {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  max-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.line-chart-tooltip-simple {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  max-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.download-container {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  width: 100%;
  margin-top: auto;
}

.download-button {
  padding: 7px 15px;
  background-color: #4e944f;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: 1000;

  width: fit-content;
  max-width: 250px;
}

.download-icon {
  width: 18px;
  height: 18px;
}

.help-button:hover,
.download-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.help-button:active,
.download-button:active {
  transform: scale(0.97) translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.help-button {
  padding: 7px 15px;
  background-color: #4e944f;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: absolute;
  bottom: 5px;
  right: 15px;
  z-index: 1000;

  width: fit-content;
  max-width: 250px;
}

.help-icon {
  width: 18px;
  height: 18px;
}

.modal-close-button:hover {
  background-color: #3b7a3c;
}

.help-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.metadata-download-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.metadata-download-modal {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.metadata-download-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.metadata-download-icon {
  width: 24px;
  height: 24px;
}

.metadata-download-select {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 1rem;
  border: 2px solid #4caf50;
  border-radius: 4px;
  font-size: 0.7rem;
}

.metadata-download-select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
}

.metadata-download-buttons {
  display: flex;
  justify-content: space-between;
}

.metadata-download-button,
.metadata-download-cancel {
  padding: 0.5rem 1rem;
  border: 2px solid #4caf50;
  border-radius: 5px;
  cursor: pointer;
}

.metadata-download-button {
  background-color: #4caf50;
  color: white;
}

.metadata-download-button:disabled {
  background-color: #4caf50;
  color: white;
}

.metadata-download-cancel {
  background-color: #ffffff;
  color: #4caf50;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  animation: slideUp 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px 50px 12px 16px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}

.dropdown-select:hover {
  border-color: #999;
  background-color: #f9f9f9;
}

.dropdown-select:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 0 3px rgba(100, 100, 100, 0.2);
}

.switch-neumorphic-label {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.switch-neumorphic {
  display: none;
}

.slider-neumorphic {
  width: 50px;
  height: 26px;
  background: #e0e0e0;
  border-radius: 50px;
  position: relative;
  transition: background 0.3s;
  box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

.slider-neumorphic::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.switch-neumorphic:checked + .slider-neumorphic {
  background: #c2ffd0;
}

.switch-neumorphic:checked + .slider-neumorphic::before {
  transform: translateX(24px);
}

.label-text {
  margin-left: 4px;
  color: #333;
  font-weight: 500;
}

.leaflet-control-layers-overlays label:last-child input[type="checkbox"] {
  display: none;
}

.leaflet-control-layers-overlays label:last-child {
  display: none;
}

.leaflet-control-layers-overlays label span {
  display: none !important;
}

.leaflet-control-layers-overlays input[type="checkbox"] {
  display: none !important;
}

.sumber-list {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  list-style-type: disc;
}

.sumber-list li {
  margin-bottom: 10px;
  text-align: justify;
}

.panduan-list-wrapper {
  line-height: 1.6;
  font-size: 14px;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.panduan-list {
  padding-left: 20px;
  list-style-type: disc;
}

.panduan-list li {
  margin-bottom: 10px;
  text-align: justify;
}

.definisi-list {
  line-height: 1.6;
  font-size: 14px;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.definisi-list p {
  margin-bottom: 10px;
  text-align: justify;
}

/* === RESPONSIVE MEDIA QUERIES === */

@media (max-width: 1024px) {
  .sidebar-container.open {
    width: 50% !important;
    min-width: unset !important;
    padding: 20px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 12px;
    width: 100%;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 440px;
    height: 440px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 40px;
  }

  .radar-button {
    font-size: 14px;
    padding: 9px 18px;
    margin-top: -7px;
  }

  .radar-button-wrapper {
    margin-top: 16px;
    text-align: center;
  }

  .bar-chart-container {
    width: 100%;
    padding: 0;
  }

  .help-button {
    width: 30%;
    font-size: 14px;
    padding: 8px 29px;
  }

  .download-button {
    width: 35%;
    font-size: 14px;
    padding: 8px 17px;
  }

  .leaflet-control-geosearch {
    width: 55% !important;
    top: 10px !important;
    left: -55px !important;
  }
}

@media (max-width: 991px) {
  .sidebar-container.open {
    width: 45% !important;
    min-width: unset !important;
    padding: 10px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 10px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -18px;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 410px;
    height: 410px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 40px;
  }

  .radar-button {
    font-size: 12px;
    padding: 7px 12px;
  }

  .download-button {
    width: 40%;
    font-size: 14px;
    padding: 8px 17px;
  }

  .help-button {
    width: 30%;
    font-size: 13px;
    padding: 8px 25px;
  }

  .leaflet-control-geosearch {
    width: 50% !important;
    top: 10px !important;
    left: -50px !important;
  }
}

@media (max-width: 834px) {
  .sidebar-container.open {
    width: 47% !important;
    min-width: unset !important;
    padding: 10px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 110%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 370px;
    height: 370px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  .radar-button {
    font-size: 13px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .download-button {
    width: 45%;
    font-size: 14px;
    padding: 8px 14px;
  }

  .help-button {
    width: 32%;
    font-size: 13px;
    padding: 8px 17px;
  }

  .leaflet-control-geosearch {
    width: 56% !important;
    top: 10px !important;
    left: -50px !important;
  }
}

@media (max-width: 768px) {
  .sidebar-container.open {
    width: 51% !important;
    min-width: unset !important;
    padding: 10px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .radar-button-wrapper {
    margin-top: 6px;
    text-align: center;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 110%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 380px;
    height: 380px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 13px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-modal {
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    font-size: 14px;
  }

  .radar-modal-title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .radar-status-item {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .radar-close-button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
  }

  .bar-chart-container {
    width: 100%;
    padding: 0 0px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 11px;
  }

  .bar-chart-legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .bar-chart-color-box {
    width: 12px;
    height: 12px;
    border-radius: 4px;
  }

  .bar-chart-tooltip-simple {
    font-size: 13px;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .recharts-tooltip-wrapper {
    z-index: 999;
  }

  .recharts-cartesian-axis-tick-value tspan {
    font-size: 11px;
  }

  .recharts-yAxis .recharts-cartesian-axis-tick tspan {
    font-size: 11px;
  }

  .recharts-wrapper {
    font-family: "Poppins", sans-serif;
  }

  .download-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
  }

  .download-button {
    width: 85%;
    max-width: 200px;
    font-size: 13px;
    padding: 8px 25px;
    bottom: 11px;
  }

  .help-button {
    width: 35%;
    font-size: 13px;
    padding: 8px 19px;
    bottom: 10px;
    right: 10px;
  }

  .metadata-download-modal {
    width: 90%;
    padding: 1.5rem;
  }

  .metadata-download-buttons {
    flex-direction: column;
    gap: 0.75rem;
  }

  .metadata-download-button,
  .metadata-download-cancel {
    width: 100%;
    text-align: center;
  }

  .dropdown-select {
    font-size: 14px;
    padding: 10px 42px 10px 14px;
    background-position: right 12px center;
    background-size: 18px;
  }

  .switch-neumorphic-label {
    flex-direction: row;
    font-size: 13px;
    gap: 6px;
  }

  .slider-neumorphic {
    width: 46px;
    height: 24px;
  }

  .slider-neumorphic::before {
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
  }

  .switch-neumorphic:checked + .slider-neumorphic::before {
    transform: translateX(22px);
  }

  .label-text {
    font-size: 13px;
  }

  .checkbox-container {
    top: 7px !important;
    right: 7px !important;
    padding: 8px !important;
    font-size: 10px;
  }

  .checkbox-container {
    font-size: 8px;
    top: 10px !important;
    right: 7px !important;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .leaflet-control-geosearch {
    width: 50% !important;
    max-width: 100% !important;
    top: 10px !important;
    left: -50px !important;
  }

  .dropdown-select {
    font-size: 14px;
    max-width: 100% !important;
    width: 100% !important;
    margin-bottom: 16px !important;
    padding: 8px 12px;
    border-radius: 6px;
  }
}

@media (max-width: 695px) {
  .sidebar-container.open {
    width: 55% !important;
    min-width: unset !important;
    padding: 5px !important;
  }
  .leaflet-control-zoom {
    top: 5px !important;
    left: -3px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }
  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 110%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .radar-chart-wrapper {
    width: 100%;
    max-width: 380px;
    height: 380px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 12px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-button-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  .radar-modal {
    width: 90%;
    max-height: 75vh;
    padding: 18px;
    font-size: 13px;
  }

  .radar-modal-title {
    font-size: 15px;
  }

  .radar-status-item {
    font-size: 12px;
  }

  .radar-close-button {
    font-size: 13px;
    padding: 7px 14px;
  }

  .bar-chart-container {
    width: 100%;
    padding: 0;
  }

  .bar-chart-legend {
    font-size: 10px;
    gap: 0.4rem;
  }

  .download-container {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .download-button {
    width: 80%;
    font-size: 12px;
    padding: 8px 30px;
  }

  .help-button {
    width: 33%;
    font-size: 12px;
    padding: 8px 16px;
  }

  .checkbox-container {
    font-size: 8px;
    top: 10px !important;
    right: 7px !important;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }
  .leaflet-control-geosearch {
    width: 45% !important;
    top: 5px !important;
    left: -45px !important;
  }

  .dropdown-select {
    font-size: 13px;
    padding: 8px 12px;
  }
}

@media (max-width: 620px) {
  .sidebar-container.open {
    width: 59% !important;
    padding: 5px !important;
  }

  .leaflet-control-zoom {
    top: 0px !important;
    left: -3px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 120%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 350px;
    height: 350px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 12px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-modal {
    font-size: 13px;
    padding: 16px;
  }

  .radar-close-button {
    font-size: 12px;
    padding: 7px 12px;
  }

  .bar-chart-legend {
    font-size: 10px;
  }

  .download-button {
    width: 85%;
    font-size: 11px;
  }

  .help-button {
    width: 30%;
    font-size: 11px;
    padding-left: 10px;
  }

  .checkbox-container {
    font-size: 8px;
    top: 10px !important;
    right: 7px !important;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 3px;
    white-space: nowrap;
  }

  .leaflet-control-geosearch {
    width: 40% !important;
    top: 0px !important;
    left: -34px !important;
  }
}

@media (max-width: 550px) {
  .sidebar-container.open {
    width: 55% !important;
    padding: 5px !important;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 350px;
    height: 350px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 12px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-modal {
    font-size: 12px;
    padding: 14px;
  }

  .radar-close-button {
    font-size: 11px;
    padding: 6px 10px;
  }

  .bar-chart-container {
    width: 110%;
    padding: 0 10px;
  }

  .bar-chart-legend {
    font-size: 10px;
    margin-bottom: 0.25rem;
  }

  .download-button {
    width: 40%;
    font-size: 11px;
    padding-left: 24px;
  }

  .help-button {
    width: 35%;
    font-size: 11px;
    padding: 7px 14px;
  }

  .checkbox-container {
    font-size: 8px;
    top: 10px !important;
    right: 7px !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }
  .leaflet-control-geosearch {
    width: 95% !important;
    top: 90px !important;
    left: 1px !important;
  }

  .dropdown-select {
    font-size: 12px;
    padding: 8px 10px;
  }
}

@media (max-width: 500px) {
  .sidebar-container.open {
    width: 55% !important;
    min-width: unset !important;
    padding: 5px !important;
  }

  .sidebar-title {
    font-size: 20px !important;
    padding-top: 10px;
  }

  .sidebar-title img {
    width: 28px !important;
    height: 28px !important;
  }
  .leaflet-control-zoom {
    top: 3px !important;
    left: -3px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }
  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 150%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 300px;
    height: 300px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 12px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-button-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  .radar-modal {
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    font-size: 13px;
  }

  .radar-modal-title {
    font-size: 15px;
    margin-bottom: 14px;
  }

  .radar-status-item {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .radar-close-button {
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 6px;
  }

  .bar-chart-container {
    width: 110%;
    padding-right: 10px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 10px;
  }

  .bar-chart-legend-item {
    gap: 5px;
  }

  .bar-chart-color-box {
    width: 10px;
    height: 10px;
    border-radius: 4px;
  }

  .download-button {
    width: 40%;
    font-size: 11px;
    padding-left: 17px;
  }

  .help-button {
    width: 40%;
    font-size: 11px;
    padding: 7px 14px;
    bottom: 10px;
    right: 11px;
  }

  .checkbox-container {
    font-size: 8px;
    top: 10px !important;
    right: 7px !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .dropdown-select {
    font-size: 12px;
    padding: 9px 12px;
    border-radius: 6px;
    margin-bottom: 14px !important;
    width: 99% !important;
    max-width: 100% !important;
  }

  .leaflet-control-geosearch {
    width: 95% !important;
    max-width: 100% !important;
    top: 90px !important;
    left: 0spx !important;
  }
}

@media (max-width: 476px) {
  .sidebar-container.open {
    width: 55% !important;
    min-width: unset !important;
    padding: 5px !important;
  }
  .sidebar-title {
    font-size: 16px !important;
    padding-top: 10px;
  }

  .sidebar-title img {
    width: 24px !important;
    height: 24px !important;
  }
  .leaflet-control-zoom {
    top: 3px !important;
    left: -3px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }
  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 240px;
    height: 240px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 160%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-button {
    font-size: 11px;
    padding: 8px 15px;
    margin-top: 0px;
  }
  .radar-button-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  .radar-modal {
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    font-size: 13px;
  }

  .radar-modal-title {
    font-size: 15px;
    margin-bottom: 14px;
  }

  .radar-status-item {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .radar-close-button {
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 6px;
  }

  .bar-chart-container {
    width: 110%;
    padding-right: 10px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 10px;
  }

  .bar-chart-legend-item {
    gap: 5px;
  }

  .bar-chart-color-box {
    width: 10px;
    height: 10px;
    border-radius: 4px;
  }

  .download-button {
    width: 40%;
    font-size: 11px;
    padding-left: 17px;
  }

  .help-button {
    width: 40%;
    font-size: 11px;
    padding: 7px 12px;
    bottom: 10px;
    right: 10px;
  }

  .checkbox-container {
    font-size: 7px;
    top: 10px !important;
    right: 7px !important;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .dropdown-select {
    font-size: 11px;
    padding: 9px 12px;
    border-radius: 6px;
    margin-bottom: 14px !important;
    width: 99% !important;
    max-width: 100% !important;
  }

  .leaflet-control-geosearch {
    width: 95% !important;
    max-width: 100% !important;
    top: 90px !important;
    left: 0spx !important;
  }
}

@media (max-width: 426px) {
  .sidebar-container.open {
    width: 55% !important;
    min-width: unset !important;
    padding: 5px !important;
  }

  .leaflet-control-zoom {
    top: 3px !important;
    left: -3px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 180%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 210px;
    height: 210px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 9px;
    padding: 8px 15px;
    margin-top: 0px;
  }
  .radar-button-wrapper {
    margin-top: 10px;
    text-align: center;
  }

  .radar-modal {
    width: 92%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 18px;
    font-size: 12px;
  }

  .radar-modal-title {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .radar-status-item {
    font-size: 11px;
    margin-bottom: 6px;
  }

  .radar-close-button {
    padding: 7px 12px;
    font-size: 12px;
    border-radius: 5px;
  }

  .bar-chart-container {
    width: 115%;
    padding-right: 12px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 9px;
  }

  .bar-chart-legend-item {
    gap: 4px;
  }

  .bar-chart-color-box {
    width: 9px;
    height: 9px;
    border-radius: 3px;
  }

  .download-button {
    width: 45%;
    font-size: 11px;
    padding-left: 17px;
  }

  .help-button {
    width: 40%;
    font-size: 10px;
    padding: 6px 8px;
    bottom: 10px;
    right: 10px;
  }

  .checkbox-container {
    font-size: 7px;
    top: 10px !important;
    right: 7px !important;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .dropdown-select {
    font-size: 9px;
    padding: 8px 11px;
    border-radius: 6px;
    margin-bottom: 12px !important;
    width: 95% !important;
    max-width: 100% !important;
  }

  .leaflet-control-geosearch {
    width: 95% !important;
    max-width: 100% !important;
    top: 90px !important;
    left: 0 !important;
  }
}

@media (max-width: 376px) {
  .sidebar-container.open {
    width: 60% !important;
    min-width: unset !important;
    padding: 5px !important;
  }

  .sidebar-title {
    font-size: 16px !important;
    padding-top: 10px;
  }

  .sidebar-title img {
    width: 24px !important;
    height: 24px !important;
  }

  .leaflet-control-zoom {
    top: 2px !important;
    left: -4px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 26px !important;
    height: 26px !important;
    font-size: 15px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 190%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 200px;
    height: 200px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 9px;
    padding: 8px 15px;
    margin-top: 0px;
  }

  .radar-button-wrapper {
    margin-top: 8px;
    text-align: center;
  }

  .radar-modal {
    width: 93%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 16px;
    font-size: 11px;
  }

  .radar-modal-title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .radar-status-item {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .radar-close-button {
    padding: 6px 11px;
    font-size: 11px;
    border-radius: 5px;
  }

  .bar-chart-container {
    width: 120%;
    padding-right: 14px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    margin-bottom: 0.4rem;
    font-size: 8.5px;
  }

  .bar-chart-legend-item {
    gap: 1px;
  }

  .bar-chart-color-box {
    width: 8px;
    height: 8px;
    border-radius: 3px;
  }

  .download-button {
    width: 40%;
    font-size: 10px;
    padding-left: 12px;
  }

  .help-button {
    width: 40%;
    font-size: 10px;
    padding: 6px 7px;
    bottom: 10px;
    right: 10px;
  }

  .checkbox-container {
    font-size: 6px;
    top: 10px !important;
    right: 7px !important;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }
  .dropdown-select {
    font-size: 9px;
    padding: 7px 10px;
    border-radius: 6px;
    margin-bottom: 10px !important;
    width: 93% !important;
    max-width: 100% !important;
  }

  .leaflet-control-geosearch {
    width: 95% !important;
    max-width: 100% !important;
    top: 85px !important;
    left: 0 !important;
  }
}

@media (max-width: 320px) {
  .sidebar-container.open {
    width: 60% !important;
    min-width: unset !important;
    padding: 5px !important;
  }

  .sidebar-title {
    font-size: 13px !important;
    padding-top: 8px;
  }

  .sidebar-title img {
    width: 21px !important;
    height: 21px !important;
  }

  .leaflet-control-zoom {
    top: 2px !important;
    left: -5px !important;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 24px !important;
    height: 24px !important;
    font-size: 14px !important;
  }

  .radar-container {
    height: auto !important;
    padding: 0px;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 220%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .radar-chart-wrapper {
    width: 100%;
    max-width: 160px;
    height: 180px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    bottom: 30px;
  }

  .radar-button {
    font-size: 8px;
    padding: 8px 10px;
    margin-top: 0px;
  }

  .radar-button-wrapper {
    margin-top: 6px;
    text-align: center;
  }

  .radar-modal {
    width: 94%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 14px;
    font-size: 10.5px;
  }

  .radar-modal-title {
    font-size: 12.5px;
    margin-bottom: 8px;
  }

  .radar-status-item {
    font-size: 9.5px;
    margin-bottom: 4px;
  }

  .radar-close-button {
    padding: 6px 10px;
    font-size: 10px;
    border-radius: 4.5px;
  }

  .bar-chart-container {
    width: 125%;
    padding-right: 16px;
  }

  .bar-chart-legend {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    margin-bottom: 0.3rem;
    font-size: 8px;
  }

  .bar-chart-legend-item {
    gap: 1px;
  }

  .bar-chart-color-box {
    width: 7px;
    height: 7px;
    border-radius: 2.5px;
  }

  .download-button {
    width: 40%;
    font-size: 9px;
    padding-left: 7px;
  }

  .help-button {
    width: 40%;
    font-size: 9px;
    padding: 5px 4px;
    bottom: 10px;
    right: 10px;
  }

  .checkbox-container {
    font-size: 6px;
    top: 10px !important;
    right: 7px !important;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .checkbox-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .checkbox-container input[type="checkbox"] {
    width: 8px;
    height: 8px;
  }

  .dropdown-select {
    font-size: 7px;
    padding: 6px 9px;
    border-radius: 6px;
    margin-bottom: 10px !important;
    width: 91% !important;
    max-width: 100% !important;
  }

  .leaflet-control-geosearch {
    width: 94% !important;
    max-width: 100% !important;
    top: 75px !important;
    left: 0 !important;
  }
}
