/* Reset dan font */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  transform: scale(0.95);
  transform-origin: top left;
  width: 105.3%;
  height: 100%;
}
.scale-wrapper {
  transform: scale(0.95);
  transform-origin: top left;
  width: 105.3%;
  min-height: 105.3vh;
}

body {
  background: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #1b23169f;
  z-index: -1;
}

/* Container utama */
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}

.custom-chart-container canvas {
  margin-bottom: -30px !important;
}
